body {
    background-image: url("img/ghouls-flying.jpg");
    background-color: bisque;
    margin-left: 15%;
    margin-right: 15%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

h3 {
    margin: 10px;
    text-align: center;
}

#contentBox {
    background-color: white;
    min-height: 60vh;
    position: relative;

    border: 3px solid darkblue;
    border-radius: 10px;

    padding: 30px;
}

#title {
    height: 20vh;
    width: auto;
}

#diceBox {
    display: flex;
    flex-direction: row;
    border: 3px solid darkblue;
    border-radius: 10px;
    min-height: 6em;
}
#boxes {
    display: flex;
    flex-direction: row;
    width:70%;
    margin: auto;
}



#diceOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;

}

#diffOpt {
    max-width: 3em;
    margin: auto
}

#result-box {
    width:20%;
    padding: 10px;
    position: relative;
}

#result > p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.bottom {
    position: absolute;
    display: inline;
    bottom: 0
}


#result>h4 {
    margin: 0;
}

#rollBtn {
    width: 100%;
    margin-top: 5px;
}

#rouseCheck {
    width: 100%
}

#attrList {
    border: 2px solid darkblue;
    margin: 10px
}

#attributeUl,
#skillUl {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.atrPoints {
    float: inline-start;
    margin: 0;
    float:left
}

.attribute-div {
    flex-basis: 33%;
}

.attribute-div>li {}

#selection {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;

}

.will {
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    
}
.will-selected { 
    background-color: darkred;
}

footer {
    padding: 1em;
}